.home_page{
  height: 100%;
  overflow: auto;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.greeting{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}