.songtrack {
  color: #a4a4a4;
  max-height: calc(100vh - 13vh);
  min-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.songtrack .song_info {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 4px;
}

.nothing{
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 4px;
  visibility: hidden;
}

.songtrack .song_info img {
  width: 50px;
  height: 50px;
}

.songtrack .player_track {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 4px;
  padding: 4px 60px;
}

.songtrack .player_track .options {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.songtrack .player_track .options i {
  font-size: 20px;
  cursor: not-allowed;
}

.songtrack .player_track .options i:hover {
  color: #fff;
}

.player {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: #fff;
  margin: 0 10px;
  position: relative;
}

.circle {
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: -3px;
  left: 0;
  transform: translateX(-50%);
}

.time {
  font-size: 14px;
  color: #333;
}

.songtrack .song_options {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 4px;
  position: relative;
}

.songtrack .song_options i {
  font-size: 20px;
  cursor: pointer;
}

.songtrack .song_options i:hover {
  color: #fff;
}

.volumeControl{
  display: flex;
  align-items: center;
  gap: 10px;
}

.signInBlock{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #ff00cc, #3333ff);
  color: #fff;
}

.signInBlock .text{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  padding: 4px;
}

.signInBlock .text h3{
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
}

.signInBlock .text p{
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 30px;
}

.signInBtn{
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  margin-right: 30px;
}
