.playlist{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #1c1c1c;
    color: white;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.playlist__info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #282828;
    gap: 30px;
}

.playlist__info img{
    width: 200px;
    height: 200px;
}

.playlist__infoText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.playlist__infoText h2{
    font-size: 50px;
    font-weight: 600;
}

.playlistBtns{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.playlistBtns .playBtn{
    background-color: #1db954;
    color: #1c1c1c;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.playlistBtns .playBtn:hover{
    background-color: #1ed760;
}

.playlistBtns .playBtn:focus{
    outline: none;
}

.playlist table{
    width: 100%;
    border-collapse: collapse;
    margin: 30px 40px;
}

.playlist th{
    padding: 20px 10px;
}

.playlist td{
    padding: 10px 10px;
}

.playlist tbody tr:hover{
    background-color: #282828;
    border-radius: 20px;
}

.playlist table thead tr{
    border-bottom: 1px solid #282828;
}

.playlist table thead tr th{
    text-align: left;
    color: #a7a7a7;
    font-weight: 600;
}

.playlist table tbody tr td{
    text-align: left;
}

.playlist table tr td img{
    width: 40px;
    height: 40px;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.songPlayBtn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.songPlayBtn i{
    font-size: 25px;
    color: white;
}

.songPlayBtn i:hover{
    color: #1db954;
}